<a href="https://colab.research.google.com/github/Tech-Amol5278/Decodr/blob/master/CovidDataCreation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from geopy.geocoders import Nominatim  # to library to work on Geo

In [0]:
import datetime
 
def date_range(start, end):
    r = (end+datetime.timedelta(days=1)-start).days
    return [start+datetime.timedelta(days=i) for i in range(r)]
 
start = datetime.date(2020,3,22)
end = datetime.date(2020,4,21)
dateList = date_range(start, end)
datelist = []
for i in dateList :
  datelist.append(i.strftime("%m-%d-%Y"))

In [0]:
list_data = []
for i in datelist : 
  try :
    df = pd.read_csv('https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_daily_reports/{}.csv'.format(i))
    df['date'] = i
    list_data.append(df)
  except : 
    print(i)

In [28]:
list_data[0].head(3)

      FIPS         Admin2  ...                 Combined_Key        date
0  36061.0  New York City  ...  New York City, New York, US  03-22-2020
1  36059.0         Nassau  ...         Nassau, New York, US  03-22-2020
2  36119.0    Westchester  ...    Westchester, New York, US  03-22-2020

[3 rows x 13 columns]

In [0]:
df = pd.concat(list_data , ignore_index= True)

In [30]:
df['Country_Region']

0                        US
1                        US
2                        US
3                        US
4                        US
                ...
94138    West Bank and Gaza
94139        Western Sahara
94140                 Yemen
94141                Zambia
94142              Zimbabwe
Name: Country_Region, Length: 94143, dtype: object

In [0]:
df['Death_Per_Confirmed'] = (df['Deaths'] / df['Confirmed'])*100

In [32]:
df[['Country_Region','Confirmed','Recovered','Deaths','Death_Per_Confirmed']]

           Country_Region  Confirmed  Recovered  Deaths  Death_Per_Confirmed
0                      US       9654          0      63             0.652579
1                      US       1900          0       4             0.210526
2                      US       1873          0       0             0.000000
3                      US       1034          0       9             0.870406
4                      US        455          0       1             0.219780
...                   ...        ...        ...     ...                  ...
94138  West Bank and Gaza        466         71       4             0.858369
94139      Western Sahara          6          0       0             0.000000
94140               Yemen          1          0       0             0.000000
94141              Zambia         70         35       3             4.285714
94142            Zimbabwe         28          2       3            10.714286

[94143 rows x 5 columns]

In [33]:
df[(df['Country_Region'] == "US") & (df['Deaths'] > 0)]

          FIPS         Admin2  ...        date Death_Per_Confirmed
0      36061.0  New York City  ...  03-22-2020            0.652579
1      36059.0         Nassau  ...  03-22-2020            0.210526
3      36103.0        Suffolk  ...  03-22-2020            0.870406
4      36087.0       Rockland  ...  03-22-2020            0.219780
8      36055.0         Monroe  ...  03-22-2020            1.470588
...        ...            ...  ...         ...                 ...
93870   4027.0           Yuma  ...  04-21-2020            3.125000
93900     66.0            NaN  ...  04-21-2020            3.676471
93927     69.0            NaN  ...  04-21-2020           14.285714
93933     72.0            NaN  ...  04-21-2020            4.930663
93956     78.0            NaN  ...  04-21-2020            5.660377

[23445 rows x 14 columns]

In [34]:
df[(df['Country_Region'] == 'India') | (df['Country_Region'] == 'US')].head(3)

      FIPS         Admin2  ...        date Death_Per_Confirmed
0  36061.0  New York City  ...  03-22-2020            0.652579
1  36059.0         Nassau  ...  03-22-2020            0.210526
2  36119.0    Westchester  ...  03-22-2020            0.000000

[3 rows x 14 columns]

Added by Amol:

Exisiting data does not have locations/states for India, Adding locations based on lats and logs available

In [0]:
# addition of new column in df
df['locations'] = 'NA'

In [43]:
# 
geolocator = Nominatim(user_agent="Covid analysis")
loc = geolocator.reverse("52.509669, 13.376294")
print(loc.address)

# df['Lat'].df['Long_'].head(3) 
df.locations = df["Lat"].astype(str) +","+ df["Long_"].astype(str) 

# loc_var = "40.740665,-73.589419"
# test_var = geolocator.reverse(loc_var)
# test_var

# update apporach1 : using lambda
  # df['address'] = df['locations'].apply(lambda x: geolocator.reverse(x) )

# update apporach2 : using for loops  
for i in df.head(0:3):
    print(i)
    loc = str(df["Lat"].astype(str) +","+ df["Long_"].astype(str) )
    print(loc)
    df['address'] = geolocator.reverse(loc)

SyntaxError: ignored

In [42]:
df.head(3)

      FIPS         Admin2  ... Death_Per_Confirmed                        locations
0  36061.0  New York City  ...            0.652579  40.767272600000005,-73.97152637
1  36059.0         Nassau  ...            0.210526         40.74066522,-73.58941873
2  36119.0    Westchester  ...            0.000000         41.16278376,-73.75741653

[3 rows x 15 columns]