In [29]:
import pandas as pd
import numpy as np
import datetime
from geopy.geocoders import Nominatim  # to library to work on Geo
geolocator = Nominatim(user_agent="Covid analysis")

# CoronaVirus Analysis : Data from John Hopkins University 

Coronavirus data collated everyday from Github. Source is given below :- 

https://github.com/CSSEGISandData/COVID-19/raw/ 

Updated till 24/4/2020 

Collating data for different dates and doing some analysis

In [30]:
def date_range(start, end):
    r = (end+datetime.timedelta(days=1)-start).days
    return [start+datetime.timedelta(days=i) for i in range(r)]
 
start = datetime.date(2020,1,22)
end = datetime.date(2020,4,23)
dateList = date_range(start, end)
datelist = []
for i in dateList :
  datelist.append(i.strftime("%m-%d-%Y"))

In [31]:
# Getting data into list
list_data = []
for i in datelist : 
  try :
    df = pd.read_csv(r'D:\amol_lap_data\python_tutor\Jupyter\COVID-19-master\csse_covid_19_data\csse_covid_19_daily_reports\{}.csv'.format(i))
    df['date'] = i
    list_data.append(df)
  except : 
    print(i)
    
## concatenating all the list elemets(i.e daily data) into a dataframe
df = pd.concat(list_data , ignore_index= True)

Data Cleansing
    1. Finding duplicate/similar columns
    2. Finding count of null values in duplicate columns
    3. Choosing a column which has less null values and replacing the null values from duplicate column
    4. Dropping duplicate columns

In [32]:
df['Country_Region'] = np.where(df['Country_Region'].isnull() , df['Country/Region'] , df['Country_Region'])

In [33]:
df['Province_State'] = np.where(df['Province_State'].isnull() , df['Province/State'] , df['Province_State'])

In [34]:
df['Latitude'] = np.where(df['Latitude'].isnull() , df['Lat'] , df['Latitude'])
df['Longitude'] = np.where(df['Longitude'].isnull() , df['Long_'] , df['Longitude'])

In [35]:
df['Last_Update'] = np.where(df['Last_Update'].isnull() , df['Last Update'] , df['Last_Update'])

In [36]:
df = df.drop(['Province/State', 'Country/Region', 'Last Update','Lat','Long_'], axis = 'columns' )

Filling or Replacing NULL/NaN values with 0

In [37]:
df[['Confirmed','Deaths','Recovered']] = df[['Confirmed','Deaths','Recovered']].fillna(0)

Getting Deaths per confirmed

In [38]:
df['Death_Per_Confirmed'] = (df['Deaths'] / (df['Confirmed']+0.000000001))*100

In [39]:
country = df.groupby(['Country_Region','date'])[['Confirmed','Deaths','Recovered','Active','Death_Per_Confirmed']]
type(country)  # pandas.core.groupby.generic.DataFrameGroupBy, its a group by object

country = country.sum().reset_index()
country
# type(country) # pandas.core.frame.DataFrame, now has become a dataframe

,Country_Region,date,Confirmed,Deaths,Recovered,Active,Death_Per_Confirmed
0,Azerbaijan,02-28-2020,1.0,0.0,0.0,0.0,0.0
1,Afghanistan,02-24-2020,1.0,0.0,0.0,0.0,0.0
2,Afghanistan,02-25-2020,1.0,0.0,0.0,0.0,0.0
3,Afghanistan,02-26-2020,1.0,0.0,0.0,0.0,0.0
4,Afghanistan,02-27-2020,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
9701,occupied Palestinian territory,03-12-2020,0.0,0.0,0.0,0.0,0.0
9702,occupied Palestinian territory,03-14-2020,0.0,0.0,0.0,0.0,0.0
9703,occupied Palestinian territory,03-15-2020,0.0,0.0,0.0,0.0,0.0
9704,occupied Palestinian territory,03-16-2020,0.0,0.0,0.0,0.0,0.0
9705,occupied Palestinian territory,03-17-2020,0.0,0.0,0.0,0.0,0.0

In [40]:
first_case = country.groupby('Country_Region')['date'].min().to_frame().reset_index().rename(columns = {'date':'first_date'})

In [41]:
country = pd.merge(country , first_case , on = 'Country_Region', how = 'left' )

In [42]:
# country = country.drop(columns = ['first_date_x','first_date_y','first_date'])
country

,Country_Region,date,Confirmed,Deaths,Recovered,Active,Death_Per_Confirmed,first_date
0,Azerbaijan,02-28-2020,1.0,0.0,0.0,0.0,0.0,02-28-2020
1,Afghanistan,02-24-2020,1.0,0.0,0.0,0.0,0.0,02-24-2020
2,Afghanistan,02-25-2020,1.0,0.0,0.0,0.0,0.0,02-24-2020
3,Afghanistan,02-26-2020,1.0,0.0,0.0,0.0,0.0,02-24-2020
4,Afghanistan,02-27-2020,1.0,0.0,0.0,0.0,0.0,02-24-2020
...,...,...,...,...,...,...,...,...
9701,occupied Palestinian territory,03-12-2020,0.0,0.0,0.0,0.0,0.0,03-10-2020
9702,occupied Palestinian territory,03-14-2020,0.0,0.0,0.0,0.0,0.0,03-10-2020
9703,occupied Palestinian territory,03-15-2020,0.0,0.0,0.0,0.0,0.0,03-10-2020
9704,occupied Palestinian territory,03-16-2020,0.0,0.0,0.0,0.0,0.0,03-10-2020
9705,occupied Palestinian territory,03-17-2020,0.0,0.0,0.0,0.0,0.0,03-10-2020

In [43]:
print(df.columns)
print(df.isnull().sum())
print(df.query(" Province_State != Province_State "))
print(np.where(df['Country_Region'].isnull()))

Index(['Confirmed', 'Deaths', 'Recovered', 'date', 'Latitude', 'Longitude',
       'FIPS', 'Admin2', 'Province_State', 'Country_Region', 'Last_Update',
       'Active', 'Combined_Key', 'Death_Per_Confirmed'],
      dtype='object')
Confirmed                  0
Deaths                     0
Recovered                  0
date                       0
Latitude                4112
Longitude               4112
FIPS                   16786
Admin2                 16324
Province_State          9096
Country_Region             0
Last_Update                0
Active                  7617
Combined_Key            7617
Death_Per_Confirmed        0
dtype: int64
        Confirmed  Deaths  Recovered        date   Latitude  Longitude  FIPS  \
35            2.0     0.0        0.0  01-22-2020        NaN        NaN   NaN
36            2.0     0.0        0.0  01-22-2020        NaN        NaN   NaN
37            1.0     0.0        0.0  01-22-2020        NaN        NaN   NaN
73            1.0     0.0        0.0  01-23-2020        NaN        NaN   NaN
74            3.0     0.0        0.0  01-23-2020        NaN        NaN   NaN
...           ...     ...        ...         ...        ...        ...   ...
107966      480.0     4.0       92.0  04-23-2020  31.952200  35.233200   NaN
107967        6.0     0.0        5.0  04-23-2020  24.215500 -12.885800   NaN
107968        1.0     0.0        0.0  04-23-2020  15.552727  48.516388   NaN
107969       76.0     3.0       37.0  04-23-2020 -13.133897  27.849332   NaN
107970       28.0     4.0        2.0  04-23-2020 -19.015438  29.154857   NaN

       Admin2 Province_State      Country_Region          Last_Update  Active  \
35        NaN            NaN               Japan      1/22/2020 17:00     NaN
36        NaN            NaN            Thailand      1/22/2020 17:00     NaN
37        NaN            NaN         South Korea      1/22/2020 17:00     NaN
73        NaN            NaN               Japan        1/23/20 17:00     NaN
74        NaN            NaN            Thailand        1/23/20 17:00     NaN
...       ...            ...                 ...                  ...     ...
107966    NaN            NaN  West Bank and Gaza  2020-04-24 03:30:31   384.0
107967    NaN            NaN      Western Sahara  2020-04-24 03:30:31     1.0
107968    NaN            NaN               Yemen  2020-04-24 03:30:31     1.0
107969    NaN            NaN              Zambia  2020-04-24 03:30:31    36.0
107970    NaN            NaN            Zimbabwe  2020-04-24 03:30:31    22.0

              Combined_Key  Death_Per_Confirmed
35                     NaN             0.000000
36                     NaN             0.000000
37                     NaN             0.000000
73                     NaN             0.000000
74                     NaN             0.000000
...                    ...                  ...
107966  West Bank and Gaza             0.833333
107967      Western Sahara             0.000000
107968               Yemen             0.000000
107969              Zambia             3.947368
107970            Zimbabwe            14.285714

[9096 rows x 14 columns]
(array([], dtype=int64),)

Creating new dataframe for India only

In [55]:
covid_in = df.query("Country_Region.str.upper() == 'INDIA' ").reset_index()

In [56]:
covid_in.isnull().sum()
np.where(covid_in['Latitude'].notnull())
covid_in.describe()
covid_in.sort_values("Last_Update",ascending = True)
covid_in.query(" Latitude == 'NaN' " ).head(2)

,index,Confirmed,Deaths,Recovered,date,Latitude,Longitude,FIPS,Admin2,Province_State,Country_Region,Last_Update,Active,Combined_Key,Death_Per_Confirmed
0,430,1.0,0.0,0.0,01-30-2020,NaN,NaN,NaN,NaN,NaN,India,1/30/20 16:00,NaN,NaN,0.0
1,491,1.0,0.0,0.0,01-31-2020,NaN,NaN,NaN,NaN,NaN,India,1/31/2020 23:59,NaN,NaN,0.0

Adding new column location and  updating it as Unknown if latitude or longitude is not available

In [57]:
covid_in['location'] = np.where((covid_in['Latitude'].isnull() | covid_in['Longitude'].isnull()) , 'Unknown' , covid_in['Latitude'].astype(str)+','+covid_in['Longitude'].astype(str) )

Replacing location coordinates with geographical address using Geopy Library

In [69]:
# covid_in = covid_in.reset_index()
covid_in_nounknown = covid_in[(covid_in["location"]!= "Unknown")].reset_index(drop = True)
covid_in_nounknown.head(2)

,index,Confirmed,Deaths,Recovered,date,Latitude,Longitude,FIPS,Admin2,Province_State,Country_Region,Last_Update,Active,Combined_Key,Death_Per_Confirmed,location
0,2895,3.0,0.0,3.0,03-01-2020,21.0,78.0,NaN,NaN,NaN,India,2020-02-16T07:43:02,NaN,NaN,0.0,"21.0,78.0"
1,3016,5.0,0.0,3.0,03-02-2020,21.0,78.0,NaN,NaN,NaN,India,2020-03-02T22:33:09,NaN,NaN,0.0,"21.0,78.0"

In [70]:
n = 0 
for i in covid_in_nounknown['location']:
    # print(geolocator.reverse(i))
    print(i)
    geo = geolocator.reverse(i)
    print(geo)
    covid_in_nounknown.at[n,'location'] = geo
    print(covid_in_nounknown.at[n,'location'] )
    n += 1

21.0,78.0

GeocoderTimedOut: Service timed out

In [68]:
covid_in_nounknown

,index,Confirmed,Deaths,Recovered,date,Latitude,Longitude,FIPS,Admin2,Province_State,Country_Region,Last_Update,Active,Combined_Key,Death_Per_Confirmed,location
0,2895,3.0,0.0,3.0,03-01-2020,21.000000,78.00000,NaN,NaN,NaN,India,2020-02-16T07:43:02,NaN,NaN,0.000000,"(Mozari, Teosa, Amravati, Maharashtra, India, ..."
1,3016,5.0,0.0,3.0,03-02-2020,21.000000,78.00000,NaN,NaN,NaN,India,2020-03-02T22:33:09,NaN,NaN,0.000000,"(Mozari, Teosa, Amravati, Maharashtra, India, ..."
2,3162,5.0,0.0,3.0,03-03-2020,21.000000,78.00000,NaN,NaN,NaN,India,2020-03-02T22:33:09,NaN,NaN,0.000000,"(Mozari, Teosa, Amravati, Maharashtra, India, ..."
3,3288,28.0,0.0,3.0,03-04-2020,21.000000,78.00000,NaN,NaN,NaN,India,2020-03-04T12:33:03,NaN,NaN,0.000000,"(Mozari, Teosa, Amravati, Maharashtra, India, ..."
4,3451,30.0,0.0,3.0,03-05-2020,21.000000,78.00000,NaN,NaN,NaN,India,2020-03-05T13:53:03,NaN,NaN,0.000000,"(Mozari, Teosa, Amravati, Maharashtra, India, ..."
5,3624,31.0,0.0,3.0,03-06-2020,21.000000,78.00000,NaN,NaN,NaN,India,2020-03-06T13:03:12,NaN,NaN,0.000000,"(Mozari, Teosa, Amravati, Maharashtra, India, ..."
6,3825,34.0,0.0,3.0,03-07-2020,21.000000,78.00000,NaN,NaN,NaN,India,2020-03-07T18:13:27,NaN,NaN,0.000000,"(Mozari, Teosa, Amravati, Maharashtra, India, ..."
7,4051,39.0,0.0,3.0,03-08-2020,21.000000,78.00000,NaN,NaN,NaN,India,2020-03-08T09:23:05,NaN,NaN,0.000000,"(Mozari, Teosa, Amravati, Maharashtra, India, ..."
8,4308,43.0,0.0,3.0,03-09-2020,21.000000,78.00000,NaN,NaN,NaN,India,2020-03-09T09:13:17,NaN,NaN,0.000000,"(Mozari, Teosa, Amravati, Maharashtra, India, ..."
9,4573,56.0,0.0,4.0,03-10-2020,21.000000,78.00000,NaN,NaN,NaN,India,2020-03-10T10:13:28,NaN,NaN,0.000000,"(Mozari, Teosa, Amravati, Maharashtra, India, ..."
10,4781,62.0,1.0,4.0,03-11-2020,21.000000,78.00000,NaN,NaN,NaN,India,2020-03-11T22:13:12,NaN,NaN,1.612903,"(Mozari, Teosa, Amravati, Maharashtra, India, ..."
11,4996,73.0,1.0,4.0,03-12-2020,21.000000,78.00000,NaN,NaN,NaN,India,2020-03-12T08:33:13,NaN,NaN,1.369863,"(Mozari, Teosa, Amravati, Maharashtra, India, ..."
12,5277,82.0,2.0,4.0,03-13-2020,20.593700,78.96290,NaN,NaN,NaN,India,2020-03-11T20:00:00,NaN,NaN,2.439024,"(Jamb, Samudrapur, Wardha, Maharashtra, India,..."
13,5451,102.0,2.0,4.0,03-14-2020,20.593700,78.96290,NaN,NaN,NaN,India,2020-03-14T20:33:03,NaN,NaN,1.960784,"(Jamb, Samudrapur, Wardha, Maharashtra, India,..."
14,5699,113.0,2.0,13.0,03-15-2020,20.593700,78.96290,NaN,NaN,NaN,India,2020-03-15T18:20:18,NaN,NaN,1.769912,"(Jamb, Samudrapur, Wardha, Maharashtra, India,..."
15,5967,119.0,2.0,13.0,03-16-2020,20.593700,78.96290,NaN,NaN,NaN,India,2020-03-16T14:38:45,NaN,NaN,1.680672,"(Jamb, Samudrapur, Wardha, Maharashtra, India,..."
16,6236,142.0,3.0,14.0,03-17-2020,20.593700,78.96290,NaN,NaN,NaN,India,2020-03-17T15:33:06,NaN,NaN,2.112676,"(Jamb, Samudrapur, Wardha, Maharashtra, India,..."
17,6514,156.0,3.0,14.0,03-18-2020,20.593700,78.96290,NaN,NaN,NaN,India,2020-03-18T13:33:12,NaN,NaN,1.923077,"(Jamb, Samudrapur, Wardha, Maharashtra, India,..."
18,6800,194.0,4.0,15.0,03-19-2020,20.593700,78.96290,NaN,NaN,NaN,India,2020-03-19T20:43:02,NaN,NaN,2.061856,"(Jamb, Samudrapur, Wardha, Maharashtra, India,..."
19,7091,244.0,5.0,20.0,03-20-2020,20.593700,78.96290,NaN,NaN,NaN,India,2020-03-20T15:13:21,NaN,NaN,2.049180,"(Jamb, Samudrapur, Wardha, Maharashtra, India,..."
20,7382,330.0,4.0,23.0,03-21-2020,20.593700,78.96290,NaN,NaN,NaN,India,2020-03-21T17:43:03,NaN,NaN,1.212121,"20.5937,78.9629"
21,10888,396.0,7.0,24.0,03-22-2020,20.593684,78.96288,NaN,NaN,NaN,India,3/22/20 23:45,365.0,India,1.767677,"20.593684,78.96288"
22,14354,499.0,10.0,34.0,03-23-2020,20.593684,78.96288,NaN,NaN,NaN,India,2020-03-23 23:19:21,455.0,India,2.004008,"20.593684,78.96288"
23,17768,536.0,10.0,40.0,03-24-2020,20.593684,78.96288,NaN,NaN,NaN,India,2020-03-24 23:37:15,486.0,India,1.865672,"20.593684,78.96288"
24,21186,657.0,12.0,43.0,03-25-2020,20.593684,78.96288,NaN,NaN,NaN,India,2020-03-25 23:33:04,602.0,India,1.826484,"20.593684,78.96288"
25,24605,727.0,20.0,45.0,03-26-2020,20.593684,78.96288,NaN,NaN,NaN,India,2020-03-26 23:48:18,662.0,India,2.751032,"20.593684,78.96288"
26,28034,887.0,20.0,73.0,03-27-2020,20.593684,78.96288,NaN,NaN,NaN,India,2020-03-27 23:23:03,794.0,India,2.254791,"20.593684,78.96288"
27,31463,987.0,24.0,84.0,03-28-2020,20.593684,78.96288,NaN,NaN,NaN,India,3/28/20 23:05,879.0,India,2.431611,"20.593684,78.96288"
28,34897,1024.0,27.0,95.0,03-29-2020,20.593684,78.96288,NaN,NaN,NaN,India,3/29/20 23:08,902.0,India,2.636719,"20.593684,78.96288"
29,38336,1251.0,32.0,102.0,03-30-2020,20.593684,78.96288,NaN,NaN,NaN,India,3/30/20 22:52,1117.0,India,2.557954,"20.593684,78.96288"
30,40769,1397.0,35.0,123.0,03-31-2020,20.593684,78.96288,NaN,NaN,NaN,India,2020-03-31 23:43:43,1239.0,India,2.505369,"20.593684,78.96288"
31,43252,1998.0,58.0,148.0,04-01-2020,20.593684,78.96288,NaN,NaN,NaN,India,2020-04-01 21:58:34,1792.0,India,2.902903,"20.593684,78.96288"
32,45819,2543.0,72.0,191.0,04-02-2020,20.593684,78.96288,NaN,NaN,NaN,India,4/2/20 23:25,2280.0,India,2.831302,"20.593684,78.96288"
33,48443,2567.0,72.0,192.0,04-03-2020,20.593684,78.96288,NaN,NaN,NaN,India,2020-04-03 22:46:20,2303.0,India,2.804831,"20.593684,78.96288"
34,51121,3082.0,86.0,229.0,04-04-2020,20.593684,78.96288,NaN,NaN,NaN,India,4/4/20 23:34,2767.0,India,2.790396,"20.593684,78.96288"
35,53882,3588.0,99.0,229.0,04-05-2020,20.593684,78.96288,NaN,NaN,NaN,India,2020-04-05 23:06:26,3260.0,India,2.759197,"20.593684,78.96288"
36,56689,4778.0,136.0,375.0,04-06-2020,20.593684,78.96288,NaN,NaN,NaN,India,4/6/20 23:21,4267.0,India,2.846379,"20.593684,78.96288"
37,59546,5311.0,150.0,421.0,04-07-2020,20.593684,78.96288,NaN,NaN,NaN,India,2020-04-07 23:04:29,4740.0,India,2.824327,"20.593684,78.96288"
38,62428,5916.0,178.0,506.0,04-08-2020,20.593684,78.96288,NaN,NaN,NaN,India,2020-04-08 22:51:39,5232.0,India,3.008790,"20.593684,78.96288"
39,65338,6725.0,226.0,620.0,04-09-2020,20.593684,78.96288,NaN,NaN,NaN,India,2020-04-09 23:02:19,5879.0,India,3.360595,"20.593684,78.96288"
40,68277,7598.0,246.0,774.0,04-10-2020,20.593684,78.96288,NaN,NaN,NaN,India,2020-04-10 22:53:48,6578.0,India,3.237694,"20.593684,78.96288"
41,71242,8446.0,288.0,969.0,04-11-2020,20.593684,78.96288,NaN,NaN,NaN,India,2020-04-11 22:45:13,7189.0,India,3.409898,"20.593684,78.96288"
42,74230,9205.0,331.0,1080.0,04-12-2020,20.593684,78.96288,NaN,NaN,NaN,India,2020-04-12 23:17:00,7794.0,India,3.595872,"20.593684,78.96288"
43,77232,10453.0,358.0,1181.0,04-13-2020,20.593684,78.96288,NaN,NaN,NaN,India,2020-04-13 23:07:34,8914.0,India,3.424854,"20.593684,78.96288"
44,80245,11487.0,393.0,1359.0,04-14-2020,20.593684,78.96288,NaN,NaN,NaN,India,2020-04-14 23:33:12,9735.0,India,3.421259,"20.593684,78.96288"
45,83271,12322.0,405.0,1432.0,04-15-2020,20.593684,78.96288,NaN,NaN,NaN,India,2020-04-15 22:56:32,10485.0,India,3.286804,"20.593684,78.96288"
46,86312,13430.0,448.0,1768.0,04-16-2020,20.593684,78.96288,NaN,NaN,NaN,India,2020-04-16 23:30:31,11214.0,India,3.335815,"20.593684,78.96288"
47,89357,14352.0,486.0,2041.0,04-17-2020,20.593684,78.96288,NaN,NaN,NaN,India,2020-04-17 23:30:32,11825.0,India,3.386288,"20.593684,78.96288"
48,92410,15722.0,521.0,2463.0,04-18-2020,20.593684,78.96288,NaN,NaN,NaN,India,2020-04-18 22:32:28,12738.0,India,3.313828,"20.593684,78.96288"
49,95482,17615.0,559.0,2854.0,04-19-2020,20.593684,78.96288,NaN,NaN,NaN,India,2020-04-19 23:40:41,14202.0,India,3.173432,"20.593684,78.96288"
50,98563,18539.0,592.0,3273.0,04-20-2020,20.593684,78.96288,NaN,NaN,NaN,India,2020-04-20 23:36:27,14674.0,India,3.193268,"20.593684,78.96288"
51,101654,20080.0,645.0,3975.0,04-21-2020,20.593684,78.96288,NaN,NaN,NaN,India,2020-04-21 23:30:30,15460.0,India,3.212151,"20.593684,78.96288"
52,104753,21370.0,681.0,4370.0,04-22-2020,20.593684,78.96288,NaN,NaN,NaN,India,2020-04-22 23:30:32,16319.0,India,3.186710,"20.593684,78.96288"
53,107865,23077.0,721.0,5012.0,04-23-2020,20.593684,78.96288,NaN,NaN,NaN,India,2020-04-24 03:30:31,17344.0,India,3.124323,"20.593684,78.96288"

In [25]:
covid_in_nounknown[[0:1],['location']]

SyntaxError: invalid syntax (<ipython-input-25-9f9371d44770>, line 1)

In [28]:
covid_in_nounknown.at[0,'location'] = 'India'